html {
  scroll-behavior: smooth;
  /* min-height: 100%; */
  min-width: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

*:focus{
outline: 0;
}

body{
  font-family: 'Comfortaa', cursive;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

a{
  color: #000;
}

a:hover{
  color: #000;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin:20% 0 0 3rem;
    line-height: 1.5;
}
h2{
  font-family: 'Righteous', cursive;
  font-size: 60px;
}

h3{
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  text-align: center;
  color:black;

}
h4{
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}
h5{
  font-family: 'Righteous', cursive;
  text-align: center;
  padding: 5%;
}


/*about*/

h2.abt{
  text-align:center;
  font-size: 3.5rem;
  padding:  8% 0 2%;
  font-family: serif;

}



.a1{
  font-family: Georgia, serif;
  word-spacing:  1px;
  line-height: 2rem;
  text-align: justify ;
  padding:  2% 12.5% 0 15%;
  margin: auto;
  color: black;
  font-size: 20px;

}
.a3{
word-spacing: 1px;
  font-family:Georgia, serif ;
  line-height: 2rem;
  text-align: justify;
  padding:  1% 12.5% 0 15%;
  margin:auto;


  color: black;
  font-size: 20px;

}
.a2{
font-family: Georgia, serif;
word-spacing: 1px;
line-height: 2rem;
text-align: justify; 
margin: auto;
padding: 1% 12.5% 0 15%;
color: black;
  font-size: 20px;
}
.a4{
  text-align: center;
  margin-top: 2%;
  color: black;
  font-size: 23px;
}



  .cabt{
    width: 35%;
    height: 2px;
    background-color: grey;
    position: relative;
    margin: auto;


  }
  #circle {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: white;
    border: solid 2px grey;
    border-radius: 90%;
    position: absolute;
    top: -9px;
    left: calc(50% - 5px);

  }
















/* header */
.navbar {
   font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
  background-color: #0a0a07 ;
  border: 0;
  font-size: 15px ;
  font-weight: bold;
  letter-spacing:3px;
  opacity: 0.9;
}
.navbar-brand{
  margin-left: 60px;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 ;

}
.nav-link{
  color: #ffd633 !important;
}
.navbar-nav li a:hover {
  
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.fab{
  font-size: 50px;
}

*{
  margin: 0;
  padding: 0;
}
.menu-1{
  background: #0a0a07;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu a{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}
.menu-1 a::before{
  background: #ffffff;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before{
  transform-origin: 0 50%;
}






/* title */
#title{
  background-color:#808080;
  color: #fff;
  margin-top:0;
-webkit-animation:colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #ee7752;
      }
      
      20% {
        
        color: #9f7287;
      }
      
      30% {
        
        color: #23a6d5;
      }
      
      40% {
        
        color: #23d5ab;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: #f39da3;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: #d8d0b8;
      }
    }
.quotes{
  font-size: 35px;
  margin:7% 5% 5% 5%;
  color: black;
}
.image{
  width: 70%;

  padding-top: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;

}

/* motivation */


#info{
  background-color:#FFF;
  text-align: center;
  padding: 5% 12% ;
  position: relative;
  z-index:1;
}

  @media (max-width:995px) {
    #title{
      text-align: center;
    }

  .image{
    width:100%;
    position: static;
    transform: rotate(0);
    padding:10% 10% 10% 10%;


  }
  }
.p{
 color: black;
  letter-spacing: 2px;
  line-height: 20px;
  margin-right: 10%;
  padding-right: 10%;
}
.pa{
  letter-spacing: 2px;
  line-height: 18px;
  margin-left: 10%;
  padding-left: 10%
  color:black;


}
.hin{
  font-size: 30px;
  text-align: left;
}
.h{
  text-align: right;
  font-size: 30px;
}
.s1{
  width: 38%;
  float: left;
  margin-right:   50px;
}
.s2{
  width: 40%;
  float: right;
  margin-left:  70px;
}
.col1.col2{
  width:  50%;
  margin: 100px auto 100px  auto;
  text-align: left;
}
.fa{

  color: #ef8172;
  font-size:30px;
}
.fa:hover{
  color: #ff4c68;
}
/* Months */


#months{
 	background: linear-gradient(-45deg, #ee7752, #9f7287, #23a6d5, #23d5ab, #f39da3, #d8d0b8);
 	background-size: 400% 400%;
 	animation: gradientBG 15s ease infinite;
	font-size: 1.2rem;
	color: #fff;
        border-radius: 10px 1px 1px;
        box-shadow: 10px 10px 5px grey;
 }



 @keyframes gradientBG {
 	0% {
 		background-position: 0% 50%;
 	}
 	50% {
 		background-position: 100% 50%;
 	}
 	100% {
 		background-position: 0% 50%;
 	}

}

#months.li{
  text-align:left;
  margin-left: 50%;
}
.carousel-item{
  padding: 7% 15%;
}

.x{
   font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #363062;
}

ul{
    padding-left:20%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.2rem;

}
p:hover{
  color: #1d2323;
}


/* CONTACT */
.container {
  padding: 80px 120px;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}


.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}



/* footer */

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  width: 100%;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.fa{
    font-size: 20px;
    padding-left: 1%;
}
li > p{
  text-decoration: none;
  color: #111;
  font-family: 'Baloo Da 2', cursive;
  display: block;
  margin: auto;
  position: relative;
  padding: 0 10px 5px;
  box-shadow: inset 0 -0.5em 0 rgba(0, 146, 227, 0.3);
  transition: box-shadow .2s ease-in-out;
}
li > p:hover{
  box-shadow: inset 0 -1.5em 0 rgba(0, 146, 227, 0.5)
}
.x{
  text-decoration: none;
  color: #363062;
  display: block;
  margin: auto;
  position: relative;
  padding: 0 10px 5px;
  box-shadow: inset 0 -0.5em 0 #25f582;
  transition: box-shadow .2s ease-in-out;
}
.x:hover{
  box-shadow: inset 0 -1.5em 0 #25f582;
}

.logo{
  width: 150px;
  margin-left: 5%;
  margin-bottom: 2%;
}

.logo img{
    width: 250px;
    height: 150px;
}

.socialmedia{
  margin-bottom: 10px;
  align-items: center;
  color: yellow;
}

.flexdisplay{
  display: flex;
  flex-wrap: wrap;
}

.newsletter{
  margin-left: 50%;
  margin-bottom: 2%;
}

.newsletter h3{
  margin-bottom: 25px;
  color: #fff;
  font-size: 30px;
}

input{
   border-radius: 30px;
   min-width: 260px;
   text-align: center;
}

.send{
  border-radius: 5%;
  min-width: 100px;
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid #ffd633;
}

.send:hover{
  background-color: #ffd633;
}

.foot{
  color: #ffd633;
}

.footer-end{
  /*margin-left: 40%;*/
  padding-left: 50%;
  /*padding-right: 50%;*/

}

.scrollup{
  background-color: #ffd633;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 90%;
}

.scrollup i{
  color: white;
  margin-top: 15px;
}
/*content*/

p{
  font-family: 'Baloo Da 2', cursive;
}