html {
  scroll-behavior: smooth;
  /* min-height: 100%; */
  min-width: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

*:focus{
outline: 0;
}

body{
  font-family: 'Comfortaa', cursive;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

a{
  color: #000;
}

a:hover{
  color: #000;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin:20% 0 1rem 3rem;
    line-height: 1.5;
}
h2{
  font-family: 'Righteous', cursive;
  font-size: 60px;
}

h3{
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  text-align: center;
  color:black;

}
h4{
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}
h5{
  font-family: 'Righteous', cursive;
  text-align: center;
  padding: 5%;
}


/*about*/

h2.abt{
  text-align:center;
  font-size: 3.5rem;
  padding:  8% 0 2%;
  font-family: serif;

}



.a1{
  font-family: Georgia, serif;
  word-spacing:  1px;
  line-height: 2rem;
  text-align: justify ;
  padding:  2% 12.5% 0 15%;
  margin: auto;
  color: black;
  font-size: 20px;

}
.a3{
word-spacing: 1px;
  font-family:Georgia, serif ;
  line-height: 2rem;
  text-align: justify;
  padding:  1% 12.5% 0 15%;
  margin:auto;


  color: black;
  font-size: 20px;

}
.a2{
font-family: Georgia, serif;
word-spacing: 1px;
line-height: 2rem;
text-align: justify;
margin: auto;
padding: 1% 12.5% 0 15%;
color: black;
  font-size: 20px;
}
.a4{
  text-align: center;
  margin-top: 2%;
  color: black;
  font-size: 23px;
}

#para {
  font-size: 35px;
  font-weight: 1500;
}
  
  #para3 {
  font-size: 35px;
  font-weight: 1400;
}


  .cabt{
    width: 35%;
    height: 2px;
    background-color: grey;
    position: relative;
    margin: auto;


  }
  #circle {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: white;
    border: solid 2px grey;
    border-radius: 90%;
    position: absolute;
    top: -9px;
    left: calc(50% - 5px);

  }
















/* header */
.navbar {
   font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
  background-color: #0a0a07 ;
  border: 0;
  font-size: 15px ;
  /*font-weight: bold;*/
  /*letter-spacing:3px;*/
  opacity: 0.9;
}
.navbar-brand{
  margin-left: 60px;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 ;

}
.nav-link{
  color: #ffd633 !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.fab{
  font-size: 50px;
}

*{
  margin: 0;
  padding: 0;
}
.menu-1{
  background: #0a0a07;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu a{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}
.menu-1 a::before{
  background: #ffffff;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before{
  transform-origin: 0 50%;
}






/* title */

.quotes{
  font-size: 20px;
  margin:7% 5% 5% 5%;
  color: black;
}

.quotes div{
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
}

.quotes div li {
  color: black;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  text-align: center;
}

.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.image{
  width: 100%;
  height: 100%;
  position: absolute;
}
.roww{
  padding-bottom: 12%;
  flex-wrap: wrap;
  display: flex;
  margin-right: 124px;
margin-left: -22px;
}

/* motivation */


#info{
  background-color:#FFF;
  text-align: center;
  padding: 5% 12% ;
  position: relative;
  z-index:1;
}

  @media (max-width:995px) {
    #title{
      text-align: center;
    }

  .image{
    width:100%;
    position: static;
    transform: rotate(0);
    padding:10% 10% 10% 10%;


  }
  }
.p{
  color: black;
  letter-spacing: 2px;
  line-height: 18px;
  margin-right: 10%;
  padding-right: 10%;
}
.pa{
  letter-spacing: 2px;
  line-height: 18px;
  margin-left: 10%;
  padding-left: 10%
  color black;
}


.hin{
  font-size: 30px;
  text-align: left;
}
.h{
  text-align: right;
  font-size: 30px;
}
.s1{
  width: 38%;
  float: left;
  margin-right:   50px;
}
.s2{
  width: 40%;
  float: right;
  margin-left:  70px;
}
.col1.col2{
  width:  50%;
  margin: 100px auto 100px  auto;
  text-align: left;
}
.fa{

  color: #ef8172;
  font-size:30px;
}
.fa:hover{
  color: #ff4c68;
}
/* Months */


#months{
   background-color: #fff;
    	background-size: 400% 400%;
	font-size: 1.2rem;
	color: #fff;
        border-radius: 10px 1px 1px;
        box-shadow: 10px 10px 5px grey;
 }

#months.li{
  text-align:left;
  margin-left: 50%;
  color: black;
}
#months .description,h5,h2{
  color:black;
}

#months h2{
  font-size:40px;
}
.carousel-item{
  padding: 7% 15%;
}

.x{
   font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #363062;
}

ul{
    padding-left:20%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.2rem;

}
p:hover{
  color: #1d2323;
}


/* CONTACT */
.container {
  padding: 80px 120px;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}


.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}



/* footer */

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  width: 100%;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.fa{
    font-size: 20px;
    padding-left: 1%;
}
li > p{
  text-decoration: none;
  color: #111;
  font-family: 'Baloo Da 2', cursive;
  display: block;
  margin: auto;
  position: relative;
  padding: 0 10px 5px;
  box-shadow: inset 0 -0.5em 0 rgba(0, 146, 227, 0.3);
  transition: box-shadow .2s ease-in-out;
}
li > p:hover{
  box-shadow: inset 0 -1.5em 0 rgba(0, 146, 227, 0.5)
}
.x{
  text-decoration: none;
  color: #363062;
  display: block;
  margin: auto;
  position: relative;
  padding: 0 10px 5px;
  box-shadow: inset 0 -0.5em 0 #25f582;
  transition: box-shadow .2s ease-in-out;
}
.x:hover{
  box-shadow: inset 0 -1.5em 0 #25f582;
}

.logo{
  width: 100px;
  margin-left: 5%;
  margin-bottom: 2%;
}

.logo img{
    width: 250px;
    height: 150px;
}

.socialmedia{

  align-items: center;
  color: yellow;
}

.flexdisplay{
  display: flex;
  flex-wrap: wrap;
}

.newsletter{
  margin-left: 50%;

}

.newsletter h3{
  margin-bottom: 5px;
  color: #fff;
  font-size: 30px;
}

input{
   border-radius: 30px;
   min-width: 260px;
   text-align: center;
}

.send{
  border-radius: 5%;
  min-width: 100px;
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid #ffd633;
}

.send:hover{
  background-color: #ffd633;
}

.foot{
  color: #ffd633;
}

.footer-end{
  /*margin-left: 40%;*/
  padding-left: 50%;
  /*padding-right: 50%;*/

}

.scrollup{
  background-color: #ffd633;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 90%;
}

.scrollup i{
  color: white;
  margin-top: 15px;
}
/*content*/

p{
  font-family: 'Baloo Da 2', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#wave{
  width: 100%;
  height: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid black;
  background-image: none;
  border-color: black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 60px;
  color: blue;
  margin-top: -10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 60px;
  color:blue;
  margin-top: -10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.time{
  background-color: yellow !important;
}


#scroll{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;

}

.fa-chevron-up{
  height: 10px;
  width: 10px;
  margin-left: 15px;
  margin-right:10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upper{
    background-color:black;
  color: #fff;
  margin-top:0;

}

@media (max-width:570px){
  #bottom{
    padding-top: 2rem;
  }
  #secondfooter{
    margin-bottom: 3rem;
    margin-top:-5rem;
  }
  .send{
    margin-top:0.7rem;
    margin-bottom:2rem;
  }
  .footer-p{
    margin-bottom: 0.5rem;
  }
}