html {
  scroll-behavior: smooth;
  /* min-height: 100%; */
  min-width: 100%;
  position: relative;
}

body{
  font-family: 'Comfortaa', cursive;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin:20% 0 0 3rem;
    line-height: 1.5;
}
h2{
  font-family: 'Righteous', cursive;
  font-size: 60px;
}

h3{
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  text-align: center;
  color:black;

}
h4{
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}
h5{
  font-family: 'Righteous', cursive;
  text-align: center;
  padding: 5%;
}












/* header */
.navbar {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 15px ;
  font-weight: bold;
  letter-spacing:3px;
  opacity: 0.9;
}
.navbar-brand{
  margin-left: 60px;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;

}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.fab{
  font-size: 50px;
}









/* title */
#title{
  background-color:#808080;
  color: #fff;
  margin-top:0;
-webkit-animation:colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #ee7752;
      }
      
      20% {
        
        color: #9f7287;
      }
      
      30% {
        
        color: #23a6d5;
      }
      
      40% {
        
        color: #23d5ab;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: #f39da3;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: #d8d0b8;
      }
    }
.quotes{
  font-size: 35px;
  margin:7% 5% 5% 5%;
  color: black;
}
.image{
  width: 70%;

  padding-top: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;

}

/* motivation */


#info{
  background-color:#FFF;
  text-align: center;
  padding: 5% 12% ;
  position: relative;
  z-index:1;
}

  @media (max-width:995px) {
    #title{
      text-align: center;
    }

  .image{
    width:100%;
    position: static;
    transform: rotate(0);
    padding:10% 10% 10% 10%;


  }
  }
.p{
 color: black;
  letter-spacing: 2px;
  line-height: 20px;
  margin-right: 10%;
  padding-right: 10%;
}
.pa{
  letter-spacing: 2px;
  line-height: 18px;
  margin-left: 10%;
  padding-left: 10%
  color: black;
  }
.hin{
  font-size: 30px;
  text-align: left;
}
.h{
  text-align: right;
  font-size: 30px;
}
.s1{
  width: 38%;
  float: left;
  margin-right:   50px;
}
.s2{
  width: 40%;
  float: right;
  margin-left:  70px;
}
.col1.col2{
  width:  50%;
  margin: 100px auto 100px  auto;
  text-align: left;
}
.fa{

  color: #ef8172;
  font-size:30px;
}
.fa:hover{
  color: #ff4c68;
}
/* Months */


#months{
 	background: linear-gradient(-45deg, #ee7752, #9f7287, #23a6d5, #23d5ab, #f39da3, #d8d0b8);
 	background-size: 400% 400%;
 	animation: gradientBG 15s ease infinite;
	font-size: 1.2rem;
	color: #fff;
        border-radius: 10px 1px 1px;
        box-shadow: 10px 10px 5px grey;
 }



 @keyframes gradientBG {
 	0% {
 		background-position: 0% 50%;
 	}
 	50% {
 		background-position: 100% 50%;
 	}
 	100% {
 		background-position: 0% 50%;
 	}

}

#months.li{
  text-align:left;
  margin-left: 50%;
}
.carousel-item{
  padding: 7% 15%;
}

.x{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #363062;
}

ul{
    padding-left:20%;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.2rem;

}
p:hover{
  color: #1d2323;
}


/* CONTACT */
.container {
  padding: 80px 120px;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}


.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}



/* footer */

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  width: 100%;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
  position: absolute;
}
.fa{
    font-size: 20px;
    padding-left: 1%;
}

/*content*/

p{
  font-family: 'Baloo Da 2', cursive;
}

/*form*/

.form-wrapper {
  max-width: 30%;
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  margin: 50px auto;   
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

.form-group {
  position:relative;  

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-150%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  
  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

#commentlabel{
  z-index:1;
  margin-top: 50px;
}

input{
  z-index:2;
}