body {
  background-color: black !important;
  color: white !important;
}
.team-image {
  border-radius: 50%;
  height: 155px;
  width: 155px;
}
.team-image:hover {
  border-radius: 50%;
  height: 155px;
  width: 155px;

  transform: scale(0.9);
}
section {
  padding-top: 50px;
}
h2 {
  color: #fff;
}
p {
  color: grey;
}

.developer-image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.wrapper.style2 {
  background: #192024;
  color: #c5c7c8;
}

header.major {
  text-align: center;
  margin: 0 0 4em 0;
}

.container {
  max-width: none !important;
  min-width: 0 !important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.top {
  margin-left: 21em;
}
.middle {
  margin-left: 12em;
}
.bottom {
  margin-left: 20em;
}
.row {
  padding: 0 0 0 2rem;
}

.row:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.member {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
  padding: 4em 0;
}
git .member-name {
  color: aliceblue;
  font-weight: bold;
}

.member-position {
  color: aliceblue;
  font-style: oblique;
  margin-left: 1.2em;
}

.developer {
  margin: 10px;
  align-content: center;
}
.member-name {
  color: rgba(255, 255, 255, 0.5);
}

.team-image-container {
  margin-left: -2em;
}
.member-social {
  margin-left: 1.5em;
  padding-top: 0.2em;
}
#ch {
  margin: 10px;
  align-content: center;
}
.fa {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 780px) {
  .eventtopper h3 {
    font-size: 4rem;
  }
  .eventtopper ol li h4 {
    font-size: 1.7rem;
  }
}
/* header */
.navbar {
  /* font-family: 'Comfortaa', cursive; */
  margin-bottom: 0;
  background-color: rgba(128, 128, 128, 0.6) !important;
  /* background-color: grey !important ;*/
  border: 0;
  font-size: 15px;
  /* font-weight: bold;*/
  /*letter-spacing:3px;*/
  opacity: 0.9;
}
.navbar-brand {
  margin-left: 60px;
}
.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5;
}
.nav-link {
  color: #ffd633 !important;
}
.navbar-nav li a:hover {
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: grey !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.fab {
  font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
}
.menu-1 {
  background: #0a0a07;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
  margin: 0 15px;
}
.menu a {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}
.menu-1 a::before {
  background: #ffffff;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before {
  transform-origin: 0 50%;
}

@media screen and (min-width: 780px) {
  .eventtopper h3 {
    font-size: 4rem;
  }
  .eventtopper ol li h4 {
    font-size: 1.7rem;
  }
}

#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
}

.scrollup {
  background-color: #ffd633;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 90%;
}

.scrollup i {
  color: white;
  margin-top: 25px;
}

.fa-chevron-up {
  margin-top: -10px !important;
  color: #ef8172;
  font-size: 20px;
}

.fa-chevron-up:hover {
  color: #ff4c68;
}
